extends base
include mixins/video

block content 
    form(method="GET")
        // GET method send form data to HTTP GET method in URL ex) ?name=value
        input(placeholder="Search my title", name="keyword",type="text")
        input(type="submit", value="Search now")
    
    div 
        each video in videos 
            +video(video)