div.social-login
    a(href="/users/github/start").social__btn.social__btn--github 
        i.fab.fa-github
        |  Login with Github
    a(href="/users/kakao/start").kakao__btn
        img(src="https://developers.kakao.com/tool/resource/static/img/button/login/full/en/kakao_login_medium_narrow.png")
        